name: build

on:
  push:
    branches:
      - main
      - dev*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.2', '3.3', '3.4', '4.0' ]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Build and test with Rake
        run: bundle exec rake

  build-win:
    runs-on: windows-latest
    name: Ruby 3.4 (Windows)
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: Build and test with Rake
        run: bundle exec rake

  build-mac:
    runs-on: macos-latest
    name: Ruby 3.4 (macOS)
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: Build and test with Rake
        run: bundle exec rake

  build-rhel:
    runs-on: ubuntu-latest
    name: Ruby 3.3 (Rocky)
    container: rockylinux/rockylinux:9
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby 3.3
        run: |
          dnf update -y
          dnf install -y dnf-plugins-core
          dnf config-manager --set-enabled crb
          dnf module -y enable ruby:3.3
          dnf install -y gcc gcc-g++ make git libyaml-devel ruby-devel ruby
          bundle config silence_root_warning true
          bundle install
      - name: Build and test with Rake
        run: bundle exec rake
